.poppins-medium {
	font-family: "Poppins", serif;
	font-weight: 500;
	font-style: normal;
}





html{
	font-family: "Poppins", serif;
	color:hsl(280, 0%, 50%);
}





body{
	margin:0px;
	display: grid;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	max-width: 1200px;
	background-color:black;
	color: white;
	
	min-height: 100vh;
}






.box{
	padding-top: clamp(50px, 10vw, 200px);
	padding-bottom: clamp(50px, 10vw, 200px);
}





.navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background:rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	z-index: 1000;
	overflow: hidden;
	transition: height 1s ease-in-out;
}


.navbar.open{
	padding-top:50px;

	height: 100vh;
}





@keyframes rotate-plus{
	0% { transform: rotate(0deg);}
	25% { transform: rotate(15deg);}
	50% { transform: rotate(-15deg);}
	75% { transform: rotate(10deg);}
	100% { transform: rotate(0deg);}
}


.menu-button{
	background: none;
	border: none;
	color: #ff00ff;
	font-size: 170px;
	font-weight: bold;
	cursor: pointer;
	transition: transform 0.8s ease, font-size 0.8s ease;
	position: fixed;
	top: 5px;
	z-index: 1100;

	animation: rotate-plus 4s ease-in-out infinite alternate;
	
	right: 70px;
}

	@media (max-width: 600px) {
		.menu-button {
			right: 20px;
			font-size: 120px;

		}
	}


.menu{
	width: 100%;
	text-align: center;
	display: flex; 
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.8s ease-in-out, visibility 0.8s;
}


.menu a{
	display: block;
	color:white;
	font-weight:bold;
	text-decoration: none;
	padding: 20px;
	font-size: 45px;
	transition: background 1s;
}

	@media (max-width: 600px) {
		.menu a {
			font-size: 7vw;
		}
	}


.menu a:hover{
	background:rgba(255, 255, 255, 0.2);
	animation: none;
	color:white;
}


.menu a.active{
	color:#ff00ff;
}


.navbar.open .menu{
	opacity: 1;
	visibility: visible;
}


.navbar.open  .menu-button{
	animation: none;
	transform: rotate(0deg);
}





.slideshow-container{
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.slide{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s ease-in-out;
}

.slide img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slide.active{
	opacity: 1;
}










@keyframes colorChange{
	0% {color: white;}
	50% {color: #ff00ff;}
	100% {color: white;}
}

.site-name-animation{
	position: absolute;
	top:50px;
	left: 50px;
	font-size: clamp(60px, 9vw, 130px);
	font-weight: bold;
	color: white;
	line-height: 1.2;
	border-radius: 5px;
	width:80%;
	margin-bottom:50px;
	
	animation: colorChange 8s infinite alternate;
}


.name-container{
	position: absolute;
	top: calc(50px + 10vw);
	left: 50px;
	font-size: clamp(20px, 5vw, 30px);
	color: white;
	font-weight: bold;
	margin-top: 150px;
	animation: colorChange 8s infinite alternate;
}







.projects-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	padding: 40px;
	width:90vw;
	max-width: none;
	margin:auto;
}

	@media (max-width: 800px){
		.projects-grid {
			grid-template-columns: 1fr;
		}
	}
	
	@media (max-width: 600px) {
		.projects-grid {
			grid-template-columns: 1fr;
		}

		.project h2 {
			font-size: 21px;
		}
		
		.site-name-animation{
			font-size: 30px;
	}
}

.project{
	background:none;
	padding: 20px;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.3s;
	margin:20px;
}


.project:hover{
	transform: scale(1.05);
}


.project img{
	width: 100%;
	border-radius: 10px;
}


.project h2{
	font-size:40px;
}

	@media (max-width: 600px) {
		.project h2 {
			font-size: 6vw;
		}

		.project-description {
			font-size: 5vw;
			line-height: 1.6;
		}
	}


.project-overlay{
	position: fixed;
	top: -100vh;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.95);
	color: white;
	text-align: center;
	overflow-y: auto;
	transition: top 0.7s ease-in-out;
	z-index: 1000;
	
	min-height: calc(100vh - 50px);
	overflow-y: auto;
}


.project-content{
	max-width: 800px;
	width: 90%;
	text-align: left;
	margin-left:50px;
	
	padding-bottom: 100px;
}


.project-content p{
	line-height: 1.6;
	padding-right: 20px;
}

	@media (max-width: 600px) {
		.project-content {
			padding-right: 30px;
		}

		.project-details p {
			padding-right: 0 30px;
		}
	}


.project-overlay.open {
	top: 0;
}


#project-title{	
	max-width: 800px;
	margin: auto;
	text-align: left;
	padding-top:100px;
	padding-bottom:20px;
}


#project-description{
	max-width: 800px;
	margin: auto;
	text-align: left;
	padding-bottom:100px;
	line-height: 1.9;
}


.project-images{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax( 400px, 1fr));
	gap: 30px;
	margin:50px;
}

	@media (max-width: 600px) {
		.project-images {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		.project-images img {
			width: 100%;
		}
	}


.project-images img{
	width: 100%;
	border-radius: 5px;
}


	@media (max-width: 600px) {
		.project-title {
			font-size: clamp(20px, 5vw, 30px);
		}

		.project-description {
			font-size: 18px;
		}

		#about-me {
		font-size: 18px;
		line-height: 1.6;
		}
	}








.close-button{
	position: fixed;
	z-index: 1500;
	top: 20px;
	right: 20px;
	background: none;
	border: none;
	color: white;
	font-size: 80px;
	cursor: pointer;
	padding-right:30px;
	padding-top:50px;
	display: none;
	font-weight: bold;	
	
	transition: transform 0.3s ease-in-out;
	animation: colorChange 5s infinite alternate;
}
		

.close-button:hover{
	transform: scale(1.2);
}




.project-overlay.open .close-button {
	display: block;
}







#about-me{
	max-width: 800px;
	margin: auto;
	text-align: left;
	padding-bottom:100px;
	line-height: 1.9;
}
	

#about-me a{
	animation: colorChange 8s infinite alternate;
	text-decoration:none;
}








footer {
	color: white;
	padding: 40px 0;
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100%;
}


	.footer-content {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 20px;
	}


	.footer-text {
		font-size: 12px;
		margin-bottom: 5px;
	}



	.footer-links {
		margin: 10px 0;
	}


	.footer-links a {
		color: white;
		text-decoration: none;
		margin: 0 15px;
		font-size: 14px;
			
		animation: colorChange 5s infinite alternate;
	}


		@media (max-width: 600px) {
			.footer-links {
				display: block;
				margin-top: 10px;
			}

			.footer-links a {
				display: block;
				margin: 5px 0;
				}
			}







